.nav{
    background-color: #888888;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px 20px;
    margin-left: -.8%;
    display: inline;
    color: #ffffff;
}

.nav:hover{
    background-color: #1f1f1f;
}



#nav{
    background-color: #888888;
    /* background-color: #c0c0c0; */
    padding: 10px;
    width:100%;
}

.updateBtn{
    background-color: #008a00;
    color:#ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 7px;
}

.deleteBtn{
    background-color: #be0808;
    color:#ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 7px;
}

.accom{
    background-color: #c5a206;
    color:#ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 7px;
}

.accomRet{
    background-color: #c5a206;
    font-weight: bold;
    color:#000000;
    text-decoration: none;
    display: inline-block;
    padding: 7px;
}

.view{
    background-color: #1aadda;
    /* background-color: #1aadda; */
    color:#ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 7px;
}

.updateBtn:hover{
    background-color: #36e636;
    box-shadow: -3px 3px 5px #080808f1;
}

.deleteBtn:hover{
    background-color: #fa7c7c;
    box-shadow: -3px 3px 5px #080808f1;
}

.accom:hover{
    background-color: #ffda37;
    box-shadow: -3px 3px 5px #080808f1;
    /* color: #111111; */
}

.accomRet:hover{
    background-color: #ffda37;
    box-shadow: -3px 3px 5px #080808f1;
    /* color: #111111; */
}

.view:hover{
    background-color: #52d1f8;
    box-shadow: -3px 3px 5px #080808f1;
}