/* html{
    background-color: #a4a4a4;
} */

body{
    background-image: url('images/framepic.jpg');
    background-repeat: no-repeat;
}

h1{
    color:#5f5f5f;
    font-family: 'Franklin Gothic Medium';
    text-shadow: -1px 1px #ffffff;
}

table{
    background-color: aliceblue;
}