html{
    background-color: #d6d6d6;
    background:url("../images/logo.png");
    background-position: top center;
    background-repeat: no-repeat;
}

* {box-sizing:border-box}


h1{
    columns: #000000;
    font-family: 'Franklin Gothic Medium';
    color: #ffffff;
    /* text-shadow: -1px 1px #ffffff; */
}

.table{
    background-color: #15cf44;
    position: absolute;
    top: 25%;
    left: 25%;
    padding: 10px;
    border-radius: 6px;
    width: 50%;
    opacity: .95;
    box-shadow: -5px 5px 7px black;
}

.err{
    width: 20%;
}

.error{
    color:red;
    font-weight: bolder;
}

.boldFont{
    /* text-shadow: -1px 1px #ffffff; */
    text-align: right;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
}

/* button{
    border: none;
    font-size: 1.5em;
    border-radius: 6px;
    font-weight: bold;
    padding: 5px 20px;
}

button:hover{
    box-shadow: -3px 3px 5px black;
    background-color: #252525;
    color: #ffffff;
} */

.star{
    color:red;
    font-size: .9em;
}

.button{
    border: none;
    text-decoration: none;
    font-size: 1em;
    border-radius: 6px;
    font-weight: bold;
    padding: 5px 10px;
}

.button:hover{
    box-shadow: -3px 3px 5px black;
    background-color: #005315;
    color: #ffffff;
}

#other{
    height: 100px;
    border-radius: 6px;
    color:#ffffff;
    resize: none;
    width: 500px;
    margin: 0;
}

#other:enabled{
    height: 100px;
    resize: none;
    background-color: #006b1b;
    width: 500px;
    margin: 0;
}

#other:disabled{
    cursor: not-allowed;
}

.external_data{
    display: none;
    position:absolute;
    left: -50%;
}

.che{
    background-color: #079b2c;
    border-radius: 5px;
    padding:2px 5px;
    text-decoration: none;
    color: #ffffff;
}

.che:hover{
    background-color: #001806;
}